.contenedor{
	background-color: #ffffff;
	display: inline-flex;
    flex-direction: row-reverse;
	margin: 10px;
	font-size: 30px;
	align-items: center;
	border: solid black;
	width: 400px;
	height: 400px;
}
.item{
	width: 33.33%;
	height: 33.33%;
	font-size: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	position: relative;
}
#green {
	background-color: green;
}
#red {
	background-color: red;

}
#blue {
	background-color: blue;
}